{% extends 'base_pbi.html' %}

{% block conteudo %}
<div class="container bg-light back02">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" class="form-group" action="">
        {% csrf_token %}

        <div class="container bg-light back02">
            <form method="POST" class="form-group" name="lancamentos_form">
                {% csrf_token %}
              
                <div class="form-row">
                    <div class="form-group col-md-4 mt-4">
                        <div>
                    <h4> Cadastrar Lançamentos </h4>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_perfil">
                    Tipo
                    <span style="color: red;">*</span></label>
                        <select class="form-control" name="id_perfil" id="id_perfil">
                            <option value="0">Selecione o tipo</option>
                            {% for tipo in tipo %}
                            <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                            {% endfor %}
                        </select>
            </div>
            <div class="form-group col-md-3">
                <label for="descricao">Descrição </label>
                <input type="text" class="form-control" id="descricao" name="descricao"  maxlength="50" placeholder="Digite a descrição" />  
            </div>
            <div class="form-group col-md-3">
                <label for="valor">Valor </label>
                <input type="text" class="form-control" id="valor" name="valor"  maxlength="50" placeholder="Digite o valor R$0000,00" />
            </div>
            {% for error in formPessoa.email.errors %}
            <p class="help is-danger">{{ error }}</p>    
            {% endfor %}
            <div class="form-group col-md-3">
                <label for="dt_lancamento">Data do Lançamento</label>
                <input type="date" class="form-control" id="dt_lancamento" name="dt_lancamento"  maxlength="50" placeholder="Digite a data do lançamento"  />
            </div>
            <div class="form-group col-md-3">
                <label for="id_pessoa_id">ID da Pessoa</label>
                <input type="text" class="form-control" id="id_pessoa_id" name="id_pessoa_id"  maxlength="50" placeholder="Digite o ID da pessoa"  />
            </div>
        </div>
        {% include 'acoes_form.html' %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == erro %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
</div>
{% endblock %}