{% extends 'base_pbi.html' %}

{% block conteudo %}
<div class="container bg-light back02">
    <form method="POST" class="form-group" name="lancamentos_form" >
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-4">
                <div>
                    <h4> Cadastrar Lançamentos </h4>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="id">Id do lançamento </label>
                <input type="text" class="form-control" id="id" name="id" maxlength="50" maxlength="50" placeholder="Digite a ID do lançamento"  required />
            </div>
            <div class="form-group col-md-2">
                <label for="tipo">Tipo</label>        
                        <select class="form-control" name="tipo" id="perfil">
                            <option value="0">Selecione o tipo</option>
                            {% for tipo in tipo %}
                                <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                            {% endfor %}
                    </select> 
            </div>
            <div class="form-group col-md-3">
                <label for="descricao">Descrição </label>
                <input type="text" class="form-control" id="descricao" name="descricao"  maxlength="50" placeholder="Digite a descrição" />  
            </div>
            <div class="form-group col-md-3">
                <label for="valor">Valor </label>
                <input type="text" class="form-control" id="valor" name="valor"  maxlength="50" placeholder="Digite o valor"  />
            </div>
            <div class="form-group col-md-3">
                <label for="dt_lancamento">Data do Lançamento</label>
                <input type="date" class="form-control" id="dt_lancamento" name="dt_lancamento"  maxlength="50" placeholder="Digite a data do lançamento"  />
            </div>
            <div class="form-group col-md-3">
                <label for="id_pessoa_id">ID da Pessoa</label>
                <input type="text" class="form-control" id="id_pessoa_id" name="id_pessoa_id"  maxlength="50" placeholder="Digite o ID da pessoa"  />
            </div>
        </div>
        {% include 'acoes_form.html' %}
    </div>
    </form>
</div>
{% endblock %}