{% extends 'base_pbi.html' %}

{% block conteudo %}
<div class="container bg-light back02">
    <form method="POST" class="form-group" name="salas_form" >
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-4">
                <div>
                    <h4> Cadastrar Salas </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="nm_sala">Nome da Sala</label>
                <input type="text" class="form-control" id="nm_sala" name="nm_sala" maxlength="100" placeholder="Digite o nome da Sala"  required />
            </div>
            <div class="form-group col-md-6">
                <label for="capacidade">Capacidade</label>
                <input type="text" class="form-control" id="capacidade" name="capacidade" maxlength="100" placeholder="Digite a capacidade de alunos" required />    
            </div>
        </div>
        {% include 'acoes_form.html' %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == erro %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
</div>
{% endblock %}