{% extends 'base_pbi.html' %}
{% block conteudo %}

<div class="container bg-light back02">
    <div class="form-row">
        <div class="form-group col-md-6">
            <div><h4> Lista de Cursos </h4></div>
        </div>
    </div>
    {% include 'form_pesquisa.html' %}
    <div class="container mt-4">
        {% if total > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Carga Horaria</th>
                    <th>Valor do Curso</th>
                    <th class="text-center">Alterar</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in porPagina %}
                <tr>
                    <td>{{ curso.nm_curso }}</td>
                    <td>{{ curso.carga_horaria }}</td>
                    <td>{{ curso.vl_curso }}</td>
                    <td class="text-center">
                    <button class="btn btn-info" onclick="location.href='{% url 'altera-cursos'  id=curso.id %}'">✏</button>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <label>Total de registros: {{ total }}</label>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% include 'paginacao.html' %}
        {% elif procura %}
            {% include 'sem_registro_encontrado.html' %}
        {% else %}
            {% include 'sem_item_cadastrado.html' %}
        {% endif %}
    </div>
{% endblock %}